* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(76, 73, 78);
    color: aliceblue;
}

.titulo {
    font-family: "Quantico", sans-serif;
    font-size: 2rem;
    font-weight: 100;
    font-style: oblique;
}

p {
    text-align: right;
    background-color: rgb(105, 103, 103);
    font-family: "Electrolize", sans-serif;

}

.btn-box {
    text-align: center;
    font-family: "Electrolize", sans-serif;
}

button {
    text-align: center;
    padding: 20px 50px;
    border-radius: 1rem 0 1rem 0;
}

button:hover {
    background-color: rgb(226, 183, 43);
    color: #fff;
    border-radius: 9px;
    transition-duration: .3s;

}

#portada {
    text-align: center;
    margin-top: 20px;
}

#portada img {
    border: 15px solid orange;
    padding: 10px;
    background-color: aliceblue;
    width: 400px;
}

/*Card Styles*/
.user-card {
    margin: 30px;
    width: 400px;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
}

.user-card h2 {
    font-family: "Quantico", sans-serif;
}

.user-card p {
    text-align: center;
    color: chartreuse;
    background-color: transparent;
}

.user-card img {
    border-radius: 50%;
}

.user-card button:hover {
    background-color: rgb(122, 204, 0);
    transition-duration: 0.1s;
    color: darkolivegreen;
}

.user-cards-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-link {
    width: 100%;
    max-width: 320px;
    margin: 10px 0;
}

.user-card button {
    width: 100%;
    padding: 10px 0;
    border-radius: 1rem;
    background-color: black;
    font-family: "Electrolize", sans-serif;
    color: #fff;
    border: 2px solid greenyellow;
}